.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.header__nav {
	position: absolute;
	right: 0;
	top: calc(100% + 20px);
	overflow: hidden;
}

.header__list {
	text-align: right;
	transition: all 0.3s;
	transform: translateX(100%);
}

.header__list.open {
	transform: translateX(0);
}

.header__item {
	margin: 10px 0;
}

.header__link {
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--white);
}
