.center-area {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.main__heading {
	color: #fff;
	font-size: 22px;
	font-weight: 500;
	text-transform: uppercase;
	margin: 30px 0 12px;
}

.btns-wrapper {
	width: 600px;
	margin: 20px auto 0;
}

.btns-inner-wrapper {
}

.score-area {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;

	&__text {
		font-size: 22px;
	}
}

.btns-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 16px;
	justify-items: center;
}

.btns-row {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.btn-arrow-row {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.main-wrapper {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 24px;
}
