.modal {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	display: none;
	z-index: 1;

	&.show {
		display: flex;
	}

	&__content {
		padding: 45px 20px 20px;
		background-color: var(--modal-content-bg);
		color: var(--white);
		position: relative;
	}

	&__btn {
		background-color: transparent;
		border: none;
		padding: 0;
		outline: 0;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate(40%, -40%);
		cursor: pointer;
	}

	&__heading {
		font-family: 'Play';
		font-weight: 700;
		font-size: 24px;
		text-transform: uppercase;
		line-height: 27.77px;
		color: rgba(253, 205, 0, 1);
	}

	&__text {
		font-family: 'Play';
		font-weight: 400;
		font-size: 16px;
		line-height: 18.51px;
		margin: 20px 0;
		color: rgba(255, 255, 255, 1)		;
	}

	&__anchor {
		text-decoration: none;
		color: var(--white);
		font-weight: bold;
	}

	&__seprator {
		height: 3px;
		width: 450px;
		background-color: var(--white);
		margin: 20px auto 0;
	}

	&__btn-wrapper {
		display: flex;
		flex-direction: column;
		gap: 10px;

		button {
			width: 100%;
			display: flex;
			justify-content: center;
			
			img {
				width: unset;
			}
		}
	}
}
